html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-family: "Lato" sans-serif;
  vertical-align: baseline;
  box-sizing: border-box;
  text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
h1,h2,h3,h4,p{
  margin: 0;
	padding: 0;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Lato" sans-serif;
}

.App {
  text-align: center;
  width: 100%;
  
  font-family: 'Lato';
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  color: #FFF;
  position: relative;
  overflow: hidden;
}

.App-header{   
  width: 100%;
  height: 100%;   
  display: flex;
  align-items: center;
  flex-direction: column;
  margin: 10vh;
}
.App:before{
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: -1;
  background-image: url('../img/bckg.jpg');
  background-size: cover;
  background-position: 50% 50%;
  filter: grayscale(1);
  transform: scaleX(-1);
}
.App span{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: black;
  opacity: 0.8;
  z-index: -1;
  transition: background 1s ease;
}
.App-header_nav{
  width: 60vw;
  height: 10vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.logo{
  height: 30px;
}
.search{
  transition: all .5s ease;
  width: 30%;
  border-radius: 50px;
  background: transparent;
  border: 1px solid #fff;
  margin-right: 20px;
  color: #fff;
  padding: 5px 10px;
  visibility: hidden;
  transition: all 1s;
  outline: none;
}
.search:focus{
  width: 80%;
  background: transparent;  
}

/* -------------___________MENU____Hamburger */
.nav-content{
  display: flex;
  align-items: center;
  justify-content: flex-end;
}
.nav-content i{
  font-size: 20px;
  margin-right: 20px;
  cursor: pointer;
}
#menuToggle{
  display: block;
  position: relative;
  /* top: 50px;
  left: 50px; */
  z-index: 1;
  -webkit-user-select: none;
  user-select: none;
}

#menuToggle input{
  display: block;
  height: 30px;
  width: 30px;
  position: absolute;
  top: -4px;
  left: -2px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  -webkit-touch-callout: none;
}

#menuToggle span{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #fff;
  border-radius: 3px;
  
  z-index: 1;
  
  /* transform-origin: 0px 0px; */
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

#menuToggle input:checked ~ .burger span{
  opacity: 1;
  transform: rotate(45deg) translate(-4px, -8px);
}
#menuToggle input:checked ~ .burger span:nth-last-child(3){
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ .burger span:nth-last-child(2){
  transform: rotate(-45deg) translate(0, 0px);
}

.menuOpen{
  position: relative;
  display: block;
  width: 100vw;
  height: 50vh;
  /* z-index: 2; */
  display: flex;
  top: -400px;
  align-items: center;
  padding: 0 20vw;
}
#menu{
  width: 20vw;
  margin: -100px 0 0 0;
  padding-top: 125px;
  text-align: left;
  
  background: transparent;
  list-style-type: none;
  -webkit-font-smoothing: antialiased;
  /* to stop flickering of text in safari */
  
  transform-origin: 0% 0%;
  transform: translateX(-80vw);
  
  transition: all 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}
#menu li{
  padding: 15px 0;
  font-size: 14px;
  text-transform: uppercase;
  color: #fff;
  font-weight: 600;
}
#menu li i{
  margin-left: 10px;
}








.App-header_title{
  margin: 20vh 0;
  transition: opacity 1s ease,
             transform 1s ease;
}
.App-header_title h1{
  font-size: 2rem;   
  margin-bottom: 20px;         
}
.App-header_title p{
  font-size: 0.8rem;
  font-weight: 400;

}


/* ________OFFER________ */

.container section{
  width: 45vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  display: none;
  text-align: left;
  transition: all .3s ease;
  animation: fadeIn 1s;
  animation-timing-function: cubic-bezier(0.77,0.2,0.05,1.0);
  
}
.container section h1{
  font-size: 40px;
  font-weight: 700;
  margin-bottom: 20px;
}
.container section p{
  margin: 30px 0;
}
.container section .box{  
  width: 100%;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  padding-top: 30px;
}
.container section .box:before{
  content: '';
  width: 100%;
  height: 2px;
  position: absolute;
  top: 0;
  left: 0;
  background: #fff;
  margin-bottom: 20px;
}
.offer_item{
  width: 193px;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #fff;
  padding: 30px;
  margin: 0 15px 15px 0;
  font-family: 'Lato';
  font-weight: 300;
  text-align: center;
  transition: all .3s;
}
.offer_item:hover{
  background: rgba(255,255,255, 0.1);
  font-weight: 600;
}

@keyframes fadeIn{
  0%{
    opacity: 0;
    transform: translateX(10vw);
  }
  100%{
    opacity: 1;
    trnasform: translate(0vw);
  }
}